:root {
  --page-background-color: #fff;
  --active-web-color: #2196f3;
  --btn-blue-hover: #188ce8;
  --studio-color: #000;
  --text-black-color: #212121;
  --text-grey-color: #757575;
  --text-white-color: #fff;
  --text-transperent-white: rgba(255, 255, 255, 0.6);
  --background-solutions-footer: #2f303a;
  --background-team-button: #f5f4fa;
  --border-header-color: #ececec;
  --border-cases-color: #eee;
  --icon-team-color: #afb1b8;
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.input-confirm, .header-contacts__link {
  display: flex;
  align-items: center;
}

.cases-list, .customers-list, .team-list, .benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--text-black-color);
}

body {
  background-color: var(--page-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-black-color);
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-second {
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0 0 50px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title-second {
    font-size: 36px;
  }
}

.img-gap {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: var(--studio-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list--team {
  padding-bottom: 30px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--active-web-color);
  fill: var(--page-background-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  border-bottom: 1px solid var(--border-header-color);
}
@media screen and (max-width: 767.5px) {
  .flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .flex-header {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .flex-header {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.accent {
  color: var(--active-web-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.menu {
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .menu {
    display: none;
  }
}

.menu__link {
  display: block;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.menu__link:hover, .menu__link:focus {
  color: var(--active-web-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts {
  color: var(--text-grey-color);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
  }
}

.header-contacts--to-right {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767.5px) {
  .header-contacts--to-right {
    display: none;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts__item {
    margin: 0;
  }
}

.header-contacts__link {
  color: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--active-web-color);
}

.accent--underline::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-web-color);
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flex-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .flex-footer {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.03em;
  padding: 60px 0;
}

.logo-white {
  color: var(--text-white-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: inherit;
  margin-top: 20px;
}

.footer-contacts-container {
  width: 231px;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contacts-container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-container {
    margin: 0;
    margin-right: 70px;
    text-align: start;
  }
}

.footer-contacts__link {
  color: var(--text-white-color);
}

.footer-contacts__link--transperent {
  color: var(--text-transperent-white);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--page-background-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .soc-list {
    justify-content: start;
  }
}

.soc-list__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__link--white {
  fill: var(--page-background-color);
}

.footer-soc {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin: 0;
    margin-right: 93px;
  }
}

.footer-form {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

@media screen and (max-width: 767.5px) {
  .footer-tablet-form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-tablet-form {
    width: 100%;
  }
}

.footer-form__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: 0 0 20px;
  letter-spacing: 0.09em;
  line-height: 1.25;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--text-white-color);
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn-submit {
  padding: 10px 27px;
}
.footer-form__btn-submit::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url("../images/icons/footer/send.svg");
}

.hero {
  background-color: var(--background-solutions-footer);
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  max-width: 320px;
  color: var(--text-white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.title-container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .title-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero--background {
  height: 400px;
  max-width: 480px;
  margin: 0 auto;
  background-size: 480px 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-mobile.jpg");
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero--background {
    height: 400px;
    max-width: 768px;
    margin: 0 auto;
    background-size: 768px 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero--background {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-size: 1600px 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero-desktop@2x.jpg");
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__item {
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 10px;
}
@media screen and (max-width: 767.5px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__description {
  line-height: 1.71;
  color: var(--text-grey-color);
  margin: 0;
  width: 100%;
}

.benefits__background {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-team-button);
}

.services {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
    padding-bottom: 94px;
  }
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
}
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 27px 0;
  text-transform: uppercase;
  color: var(--page-background-color);
}

.team {
  letter-spacing: 0.03em;
  background-color: var(--background-team-button);
}

.team__item {
  width: 100%;
  text-align: center;
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-members-container {
  padding: 30px 0 16px;
}

.team__members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0 0 10px;
}

.team__specialist {
  line-height: 1.18;
  margin: 0;
  color: var(--text-grey-color);
}

.soc-list__link--gray {
  fill: var(--icon-team-color);
}

.customers-list__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  fill: var(--icon-team-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.customers-list__link:hover, .customers-list__link:focus {
  fill: var(--active-web-color);
  border-color: var(--active-web-color);
}

.customers-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479.5px) {
  .modal {
    height: 100%;
    max-height: 609px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.close-modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.close-modal-btn:hover {
  fill: var(--active-web-color);
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.modal-form {
  margin: 0;
  padding: 45px 40px 35px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-grey-color);
}

.form-field input {
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  cursor: pointer;
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.input-modal {
  width: 100%;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.input-modal:focus {
  border-color: var(--active-web-color);
  outline: none;
}

.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.input-field:focus-within > .icon-modal-form {
  fill: var(--active-web-color);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-confirm {
  position: relative;
  justify-content: center;
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .input-confirm {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-box {
  display: flex;
}
@media screen and (max-width: 409.5px) {
  .check-box {
    flex-wrap: wrap;
  }
}

.check-box span {
  margin-right: 7px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 409.5px) {
  .check-box span {
    margin-bottom: 5px;
  }
}

.checkbox-confirm:focus + label .check-empty {
  outline: 1px solid var(--active-web-color);
}

.checkbox-confirm:checked + label .check-empty {
  display: none;
}

.checkbox-confirm:not(:checked) + label .check-agree {
  display: none;
}

.input-confirm a {
  color: var(--active-web-color);
}

.btn-submit {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.btn-submit:hover, .btn-submit:focus {
  background-color: var(--btn-blue-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--background-team-button);
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.btn-portfolio:hover, .btn-portfolio:focus {
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
li:first-child > .btn-portfolio {
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-portfolio-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .btn-portfolio-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-portfolio-list {
    margin-bottom: 50px;
  }
}

.btn-portfolio-list li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.5px) {
  .btn-portfolio-list li:nth-child(3) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .btn-portfolio-list li:first-child {
    margin-bottom: 15px;
  }
}

.cases-item {
  width: 100%;
  border: 1px solid var(--border-cases-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
@media screen and (min-width: 768px) {
  .cases-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cases-item {
    width: calc((100% - 60px) / 3);
  }
}
.cases-item:hover, .cases-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cases-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px;
}

.cases-descritpion {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin: 0;
}

.cases-name-container {
  padding: 20px 24px;
}

.cases-thumb {
  position: relative;
  overflow: hidden;
}

.cases-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.cases-link:hover .cases-overlay, .cases-link:focus .cases-overlay {
  transform: translateX(0%);
}

.cases-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--page-background-color);
}

.btn-menu-open {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
@media screen and (min-width: 768px) {
  .btn-menu-open {
    display: none;
  }
}
.btn-menu-open:hover {
  fill: var(--active-web-color);
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 48px 40px 60px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  overflow: auto;
}

.mobile-menu.is-hidden {
  display: none;
}

.menu-top {
  margin-bottom: 100px;
}

.menu-top__list {
  align-items: flex-start;
}

.btn-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-animation);
}
.btn-menu-close:hover {
  fill: var(--active-web-color);
}

.menu-top__item:not(:last-child),
.menu-bottom__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-top__link {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-bottom__list {
  margin-bottom: 64px;
}

.menu-bottom__link--tel {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-bottom__link--mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-grey-color);
}

.soc-menu {
  display: flex;
  flex-wrap: wrap;
}

.soc-menu__item {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.soc-menu__item:not(:last-child) {
  margin-right: 5px;
}
@media screen and (min-width: 414.5px) {
  .soc-menu__item:not(:last-child) {
    margin-right: 10px;
  }
}

.soc-menu__item:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 22px;
  margin-left: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 414.5px) {
  .soc-menu__item:not(:last-child)::after {
    margin-left: 10px;
  }
}

.soc-menu__link {
  color: var(--active-web-color);
}

@media screen and (max-width: 438.5px) {
  .menu-bottom__link--tel {
    font-size: 26px;
  }

  .menu-bottom__link--mail {
    font-size: 17px;
  }

  .menu-top__link {
    font-size: 28px;
  }

  .soc-menu__item {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */