/* ! ------------ VARIABLES ------------ */
:root {
  --page-background-color: #fff;
  --active-web-color: #2196f3;
  --btn-blue-hover: #188ce8;
  --studio-color: #000;
  --text-black-color: #212121;
  --text-grey-color: #757575;
  --text-white-color: #fff;
  --text-transperent-white: rgba(255, 255, 255, 0.6);
  --background-solutions-footer: #2f303a;
  --background-team-button: #f5f4fa;
  --border-header-color: #ececec;
  --border-cases-color: #eee;
  --icon-team-color: #afb1b8;
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* UTILITIES */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--text-black-color);
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ? ------------ GLOBAL STYLES ------------ */
body {
  background-color: var(--page-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-black-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.img-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

.container > .list {
  display: flex;
}

/* ? ------------ COMMON STYLES ------------ */

/* * ------------ HEADER ------------ */
.logo {
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--studio-color);
  margin-right: 93px;
}

.logo-white {
  color: var(--text-white-color);
}

.accent {
  color: var(--active-web-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  border-bottom: 1px solid var(--border-header-color);
}

.header-contacts {
  color: var(--text-grey-color);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-animation);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--active-web-color);
}

.header-menu {
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-animation);
}

.header-menu:hover,
.header-menu:focus {
  color: var(--active-web-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.list_header-menu {
  display: flex;
}

.list-item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.list_header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-flex {
  display: flex;
}

.list-item .header-contacts {
  display: flex;
}

.header-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.list-item > .accent {
  position: relative;
}
.accent.header-menu::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-web-color);
}

/* * ------------ FOOTER ------------ */
.footer {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.03em;
  padding: 60px 0;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: inherit;
  margin-top: 20px;
}
.footer-contacts {
  width: 231px;
}

.google-map {
  color: var(--text-white-color);
}

.footer-contacts {
  color: var(--text-transperent-white);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: var(--page-background-color);
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  fill: var(--page-background-color);

  transition: background-color 250ms var(--timing-animation);
}

.footer-soc-link:focus,
.footer-soc-link:hover {
  background-color: var(--active-web-color);
}

.footer > .container {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-soc {
  padding-top: 12px;
}

/* ! ------------ INDEX.HTML ------------ */
/* * ------------ HERO ------------ */
.hero {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  max-width: 696px;
  color: var(--text-white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.background-hero {
  height: 600px;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero_img/hero_bcg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-order {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--active-web-color);
  color: var(--text-white-color);

  transition: background-color 250ms var(--timing-animation),
    box-shadow 2000ms var(--timing-animation);
}

.btn-order:hover,
.btn-order:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title-container {
  padding: 200px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* * ------------ BENEFITS ------------ */

.benefits-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.benefits-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin: 0;
}

.benefits-item {
  font-size: 14px;
  width: calc((100% - 90px) / 3);
  letter-spacing: 0.03em;
}

.benefits .list {
  display: flex;
  gap: 30px;
}

.benefits-icon-background {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-team-button);
}

/* * ------------ SERVICES ------------ */
.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0 0 50px;
  text-align: center;
}

.services {
  padding-bottom: 94px;
}

.services .services-item:not(:last-child) {
  margin-right: 30px;
}

.services-item {
  position: relative;
}

.services-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 27px 0;
  text-transform: uppercase;
  color: var(--page-background-color);
}

/* * ------------ TEAM ------------ */
.section-team {
  letter-spacing: 0.03em;
  background-color: var(--background-team-button);
}

.team-item {
  width: calc((100% -90px) / 4);
  text-align: center;
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members {
  font-weight: 500;
  line-height: 1.18;
  font-size: 16px;
  margin: 0 0 10px;
}

.team-specialist {
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
  color: var(--text-grey-color);
}

.team-members-container {
  padding: 30px 0 16px;
}

.section-team .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  align-items: center;
}

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icon-team-color);

  transition: background-color 250ms var(--timing-animation), fill 250ms var(--timing-animation);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--active-web-color);
  fill: var(--page-background-color);
}

/* * ------------ CUSTOMERS ------------ */
.customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  fill: var(--icon-team-color);

  transition: border-color 250ms var(--timing-animation), fill 250ms var(--timing-animation);
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--active-web-color);
  border-color: var(--active-web-color);
}

/* * ------------ MODAL ------------ */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--timing-animation), visibility 250ms var(--timing-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform-origin: top left;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  transition: transform 250ms var(--timing-animation), visibility 250ms var(--timing-animation);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2) rotate(0);
}

.close-modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* ! ------------ PORTFOLIO.HTML ------------ */

.btn-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--background-team-button);

  transition: box-shadow 250ms var(--timing-animation),
    background-color 250ms var(--timing-animation), color 250ms var(--timing-animation);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--active-web-color);
  color: var(--text-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

li:first-child > .btn-portfolio {
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btn-portfolio-list li:not(:last-child) {
  margin-right: 8px;
}

/* * ------------ CASES ------------ */
.cases-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--border-cases-color);

  transition: box-shadow 250ms var(--timing-animation);
}

.cases-item:hover,
.cases-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cases-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px;
}

.cases-descritpion {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin: 0;
}

.cases-name-container {
  padding: 20px 24px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
}

.cases-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cases-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.cases-thumb {
  position: relative;
  overflow: hidden;
}

.cases-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(+101%);
  transition: transform 250ms var(--timing-animation);
}

.cases-link:hover .cases-overlay,
.cases-link:focus .cases-overlay {
  transform: translateX(0%);
}

.cases-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--page-background-color);
}
