/* ! ------------ VARIABLES ------------ */
:root {
  --page-background-color: #fff;
  --active-web-color: #2196f3;
  --btn-blue-hover: #188ce8;
  --studio-color: #000;
  --text-black-color: #212121;
  --text-grey-color: #757575;
  --text-white-color: #fff;
  --text-transperent-white: rgba(255, 255, 255, 0.6);
  --background-solutions-footer: #2f303a;
  --background-team-button: #f5f4fa;
  --border-header-color: #ececec;
  --border-cases-color: #eee;
}

/* ? ------------ GLOBAL STYLES ------------ */
body {
  background-color: var(--page-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-black-color);
}

/* UTILITIES */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--text-black-color);
}

.button {
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/* ? ------------ COMMON STYLES ------------ */

/* * ------------ HEADER ------------ */
.logo {
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--studio-color);
  margin-right: 93px;
}

.logo-white {
  color: var(--text-white-color);
}

.accent {
  color: var(--active-web-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  border-bottom: 1px solid var(--border-header-color);
}

.header-contacts {
  color: var(--text-grey-color);
  letter-spacing: 0.02em;
}

.header-menu {
  letter-spacing: 0.02em;
}

.header-menu:hover,
.header-menu:focus {
  color: var(--active-web-color);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--active-web-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.list_header-menu {
  display: flex;
}

.list-item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.list_header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-flex {
  display: flex;
}

/* * ------------ FOOTER ------------ */
.footer {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.03em;
  padding: 60px 0;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: inherit;
  margin-top: 20px;
}

.google-map {
  color: var(--text-white-color);
}

.footer-contacts {
  color: var(--text-transperent-white);
}

/* ! ------------ INDEX.HTML ------------ */
.hero {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  max-width: 696px;
  color: var(--text-white-color);
  padding-top: 200px;
  margin: auto;
  margin-bottom: 30px;
}

.btn-order {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--active-web-color);
  color: var(--text-white-color);
}

.btn-order:hover,
.btn-order:focus {
  background-color: var(--btn-blue-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* * ------------ BENEFITS ------------ */

.benefits-title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.benefits-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin: 0;
}

.benefits > .list {
  display: flex;
}

.benefits-item {
  font-size: 14px;
  width: calc((100% - 90px) / 3);
  letter-spacing: 0.03em;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

/* * ------------ SERVICES ------------ */
.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0 0 50px;
  text-align: center;
}

.services {
  padding-bottom: 94px;
}

.services > .list {
  display: flex;
}

.services .services-item:not(:last-child) {
  margin-right: 30px;
}

/* * ------------ TEAM ------------ */
.section-team {
  letter-spacing: 0.03em;
  background-color: var(--background-team-button);
}

.team-item {
  width: 270px;
  text-align: center;
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-members {
  font-weight: 500;
  line-height: 1.18;
  font-size: 16px;
  margin: 30px 0 10px;
}

.team-specialist {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
  margin: 0;
  color: var(--text-grey-color);
}

.img-gap {
  display: block;
}

.section-team > .list {
  display: flex;
}

.section-team .team-item:not(:last-child) {
  margin-right: 30px;
}

/* ! ------------ PORTFOLIO.HTML ------------ */
.btn-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--background-team-button);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--active-web-color);
  color: var(--text-white-color);
  cursor: pointer;
}

.btn-portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btn-portfolio-list li:not(:last-child) {
  margin-right: 8px;
}

/* * ------------ CASES ------------ */
.cases-item {
  display: inline-block;
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--border-cases-color);
}

.cases-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

.cases-descritpion {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
  margin: 0 24px 20px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
}

.cases-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cases-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
