.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0;

  @include tablet-only {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer {
  background-color: var(--background-solutions-footer);
  letter-spacing: 0.03em;
  padding: 60px 0;
}

.logo-white {
  color: var(--text-white-color);
}

.footer-contacts {
  @include font(null, 14px, 1.7, 0.03em);

  font-style: inherit;
  margin-top: 20px;
}

.footer-contacts-container {
  width: 231px;
  text-align: center;
  margin-bottom: 60px;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    margin: 0;
    margin-right: 70px;
    text-align: start;
  }
}

.footer-contacts__link {
  color: var(--text-white-color);
}

.footer-contacts__link--transperent {
  color: var(--text-transperent-white);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  @include font(700, 14px, 1.15, null);

  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  // padding-top: 12px;
  color: var(--page-background-color);

  text-align: center;

  @include desktop {
    text-align: left;
    margin-top: 15px;
  }
}

.soc-list {
  @include desktop {
    justify-content: start;
  }
}

.soc-list__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__link--white {
  fill: var(--page-background-color);
}

.footer-soc {
  text-align: center;
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 102px;
  }

  @include tablet {
    width: 50%;
  }

  @include desktop {
    margin: 0;
    margin-right: 93px;
  }
}

.footer-form {
  justify-content: center;

  @include tablet {
    text-align: center;
  }

  @include desktop {
    display: flex;
  }
}

.footer-tablet-form {
  @include mobile-only {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}

.footer-form__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: 0 0 20px;

  @include desktop {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  letter-spacing: 0.09em;
  line-height: 1.25;
  // margin-right: 12px;
  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--text-white-color);
  background-color: transparent;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__btn-submit {
  padding: 10px 27px;

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;

    background-image: url('../images/icons/footer/send.svg');
  }
}
