.header {
  @include font(500, 14px, 1.15, null);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.15;
  border-bottom: 1px solid var(--border-header-color);
}

.flex {
  @extend %flex-align;
}

.header__logo {
  margin-right: 93px;
}

.accent {
  color: var(--active-web-color);
  position: relative;
}

.nav {
  @extend %flex-align;
}

.menu {
  @extend %flex-align;
}

.menu__link {
  display: block;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-animation);
  &:hover,
  &:focus {
    color: var(--active-web-color);
  }
}

.menu__item:not(:last-child),
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  color: var(--text-grey-color);

  letter-spacing: 0.02em;
}

.header-contacts--to-right {
  margin-left: auto;
}

.header-contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link {
  @extend %flex-align;

  padding-top: 32px;
  padding-bottom: 32px;

  color: currentColor;

  @include transitions(color);

  // transition: color 250ms var(--timing-animation);

  &:hover,
  &:focus {
    color: var(--active-web-color);
  }
}

.accent--underline::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-web-color);
}
