.btn-menu-open {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include tablet {
    display: none;
  }

  @include transitions(fill);

  &:hover {
    fill: var(--active-web-color);
  }
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 48px 40px 60px;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  overflow: auto;
}

.mobile-menu.is-hidden {
  display: none;
}

.menu-top {
  margin-bottom: 100px;
}

.menu-top__list {
  align-items: flex-start;
}

.btn-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;

  display: inline-flex;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include transitions(fill);

  &:hover {
    fill: var(--active-web-color);
  }
}

.menu-top__item:not(:last-child),
.menu-bottom__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-top__link {
  @include font(null, 40px, 1.17, 0.02em);
}

.menu-bottom__list {
  margin-bottom: 64px;
}

.menu-bottom__link--tel {
  @include font(null, 34px, 1.17, 0.02em);
}

.menu-bottom__link--mail {
  @include font(null, 24px, 1.17, 0.02em);
  color: var(--text-grey-color);
}

.soc-menu {
  display: flex;
  flex-wrap: wrap;
}

.soc-menu__item {
  @include font(null, 18px, 1.22, 0.02em);
}

.soc-menu__item:not(:last-child) {
  margin-right: 5px;
  @media screen and (min-width: 414.5px) {
    margin-right: 10px;
  }
}

.soc-menu__item:not(:last-child)::after {
  content: '';
  width: 0px;
  height: 22px;
  margin-left: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  @media screen and (min-width: 414.5px) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 438.5px) {
}

.soc-menu__link {
  color: var(--active-web-color);
}

@media screen and (max-width: 438.5px) {
  .menu-bottom__link--tel {
    font-size: 26px;
  }

  .menu-bottom__link--mail {
    font-size: 17px;
  }

  .menu-top__link {
    font-size: 28px;
  }

  .soc-menu__item {
    font-size: 12px;
  }
}
