.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.modal-form {
  margin: 0;
  padding: 45px 40px 35px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-grey-color);
}

.form-field input {
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  cursor: pointer;
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.input-modal {
  width: 100%;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  @include transitions(border-color);

  &:focus {
    border-color: var(--active-web-color);
    outline: none;
  }
}

.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  @include transitions(fill);

  .input-field:focus-within > & {
    fill: var(--active-web-color);
  }
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  @include font(null, 14px, 1.17, 0.01em);

  resize: none;

  margin-bottom: 20px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.input-confirm {
  position: relative;
  @extend %flex-align;

  justify-content: center;

  @include font(null, 12px, 1.18, 0.03em);

  color: var(--text-grey-color);

  margin-bottom: 30px;

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-box {
  display: flex;

  @media screen and (max-width: 409.5px) {
    flex-wrap: wrap;
  }
}

.check-box span {
  margin-right: 7px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 409.5px) {
    margin-bottom: 5px;
  }
}

.checkbox-confirm:focus + label .check-empty {
  outline: 1px solid var(--active-web-color);
}

.checkbox-confirm:checked + label .check-empty {
  display: none;
}

.checkbox-confirm:not(:checked) + label .check-agree {
  display: none;
}

.input-confirm a {
  color: var(--active-web-color);
}

.btn-submit {
  display: block;
  margin: 0 auto;

  @include font(700, 16px, 1.9, 0.06em);

  min-width: 200px;
  height: 50px;
  background-color: var(--active-web-color);
  color: var(--text-white-color);

  @include transitions(background-color, box-shadow);

  &:hover,
  &:focus {
    background-color: var(--btn-blue-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
