.services {
  padding-bottom: 94px;
}

.services__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 27px 0;
  text-transform: uppercase;
  color: var(--page-background-color);
}
