.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-second {
  @include font(null, 28px, 1.16, 0.03em);

  margin: 0 0 50px;
  text-align: center;

  @include desktop {
    font-size: 36px;
  }
}

.img-gap {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
