@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin transitions($property) {
  transition-property: $property;
  transition-duration: 2500ms;
  transition-timing-function: var(--timing-animation);
}
