:root {
  --page-background-color: #fff;
  --active-web-color: #2196f3;
  --btn-blue-hover: #188ce8;
  --studio-color: #000;
  --text-black-color: #212121;
  --text-grey-color: #757575;
  --text-white-color: #fff;
  --text-transperent-white: rgba(255, 255, 255, 0.6);
  --background-solutions-footer: #2f303a;
  --background-team-button: #f5f4fa;
  --border-header-color: #ececec;
  --border-cases-color: #eee;
  --icon-team-color: #afb1b8;
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
